*.iml
.gradle
android-app/local.properties
android-app/.idea/caches
android-app/.idea/libraries
android-app/.idea/modules.xml
android-app/.idea/workspace.xml
android-app/.idea/navEditor.xml
android-app/.idea/assetWizardSettings.xml
.DS_Store
android-app/build
android-app/captures
.externalNativeBuild
.cxx
local.properties
